@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');
@import "tailwindcss";

@theme {
    --font-madi: "Ms Madi", cursive;
    --font-libre: "Libre Caslon Text", serif;


    --breakpoint-xs: 24rem;
}

.h-container {
    min-height: calc(100dvh - 80px);
}